<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    <title>Insurance Online</title>
    {% endblock %}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
</head>
<body>
<!-- Navigation -->

<nav
        class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow"
>
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">
            <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                 width="100" height="100" viewBox="0 0 512.000000 512.000000"
                 preserveAspectRatio="xMidYMid meet">

                <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                   fill="#000000" stroke="none">
                    <path d="M2800 3599 c-409 -22 -706 -57 -774 -91 -88 -44 -273 -190 -537 -424
l-126 -111 -89 -7 c-198 -16 -464 -62 -629 -110 -201 -59 -330 -125 -437 -224
-74 -70 -113 -137 -124 -215 -5 -39 -12 -50 -35 -62 -62 -32 -61 -138 2 -365
39 -138 68 -175 162 -204 32 -10 60 -16 62 -14 2 2 -2 26 -10 53 -22 71 -19
209 5 287 87 281 401 442 676 348 84 -29 139 -65 208 -134 110 -111 163 -249
153 -401 -3 -44 -13 -100 -22 -124 -8 -24 -14 -45 -13 -47 2 -1 1818 100 2642
148 l51 3 6 85 c7 100 35 185 86 258 119 173 322 264 520 234 222 -35 412
-223 446 -441 11 -68 13 -71 39 -71 24 0 28 5 40 58 7 31 13 107 12 167 -1
128 -24 203 -80 265 l-34 37 0 105 c0 200 -63 339 -188 419 -32 20 -55 48 -86
101 -46 81 -130 198 -218 302 -32 39 -58 72 -58 75 0 3 14 15 31 26 39 26 55
53 39 69 -14 14 -113 11 -205 -6 -57 -11 -93 -11 -190 -1 -151 16 -1100 25
-1325 12z"/>
                    <path d="M720 2399 c-368 -47 -520 -501 -256 -761 27 -27 82 -65 122 -84 122
-61 278 -58 405 6 110 56 209 197 229 327 47 289 -208 550 -500 512z"/>
                    <path d="M4455 2402 c-143 -10 -295 -116 -357 -249 -142 -301 70 -642 398
-643 177 0 332 97 405 254 83 178 50 371 -88 510 -92 92 -221 138 -358 128z"/>
                </g>
            </svg>
            | FAST INSURANCE ONLINE</a>
        <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Pradžia |</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'profile-url' %}">
                    <svg class="bi bi-person"
                         width="1.5em"
                         height="1.5em"
                         viewBox="0 0 16 16"
                         fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1
                            1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 00.014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168
                            1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 00.022.004zm9.974.056v-.002.002zM8
                            7a2 2 0 100-4 2 2 0 000 4zm3-2a3 3 0 11-6 0 3 3 0 016 0z" clip-rule="evenodd"/>
                    </svg>
                    {{ user }}</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}?next=/insurance">logout</a>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}?next={{ request.path }}">login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register-url' %}">register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% for message in messages %}
      <div class="alert alert-{% if message.tags == 'success' %}success{% else %}danger{% endif %}" role="alert">
        {{ message }}
      </div>
      {% endfor %}
<div class="container">{% block content %}{% endblock %}</div>

<script
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"
></script>
<script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"
></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"
></script>
</body>
</html>