{% extends "base.html" %}

{% block content %}
<h1>File an Insurance Claim</h1>
<form method="post" action="{% url 'file-claim' %}" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- Information about the incident -->
    <div class="form-group">
        <label for="incident_date">Incident Date</label>
        <input name="incident_date" type="date" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="description">Description of the Incident</label>
        <textarea name="description" class="form-control" rows="3" required></textarea>
    </div>

    <div class="form-group">
        <label for="selected_policy">Select Policy</label>
        <select name="selected_policy" class="form-control" required>
            {% for policy in policies %}
                <option value="{{ policy.policy_number }}">{{ policy }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="supporting_document">Supporting Document</label>
        <input name="supporting_document" type="file" class="form-control-file">
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Your Personal Information:
            </h5>
            <p class="card-text"><strong>First Name:</strong> {{ first_name }}</p>
            <p class="card-text"><strong>Last Name:</strong> {{ last_name }}</p>
            <p class="card-text"><strong>Personal Code:</strong> {{ personal_code }}</p>
            <p class="card-text"><strong>Email:</strong> {{ email }}</p>
            <p class="card-text"><strong>Tel. No.:</strong> {{ tel_num }}</p>
        </div>
    </div>



    <button type="submit" class="btn btn-primary">Submit Claim</button>
</form>
{% endblock %}