{% extends "base.html" %}

{% block content %}
<div class="card-header">
    <h1 class="card-title">Search Policies:</h1>
</div>

<form method="post" action="{% url 'search-policies' %}">
    {% csrf_token %}
    <label for="policy_type">Policy Type:</label>
        <select name="policy_type" id="policy_type">
            <option value="ALL">All</option>
            <option value="MTPL">MTPL</option>
            <option value="CASCO">CASCO</option>
            <option value="PROPERTY">PROPERTY</option>
        </select>
    <button type="submit">Search</button>
</form>

<div class="card-header">
    <h1 class="card-title">Search results:</h1>
</div>

{# <img class="rounded-circle" src="{{ user.profile.picture.url}}" width="20px" height="30px"/> #}
{% if search_results %}
{% for policy in search_results %}
    <div class="card mb-3">
        <div class="card-body">
            <h6 class="card-title">Policy number: <a href="{% url 'policy-one' policy.policy_number %}">
                {{ policy.policy_number }}</a>
            </h6>
            <p class="card-text">Start date: {{policy.start_date}}. -- End date: {{policy.end_date}}.
            | Type of insurance: {{ policy.policy_type }}
            <br>
            {% if policy.end_date == policy.start_date %} {# 0 duration policy is not valid. #}
                <span style="color:red;">The insurance policy is not valid.</span>
            {% elif policy.end_date <= today %} {# If policy has ended start date won't be bigger than today for sure. #}
                <span style="color:red;">The insurance policy is no longer valid.</span>
            {% elif policy.start_date > today %}
                <span style="color:orange;">Insurance coverage has not yet started.</span>
            {% else %}
                <span style="color:green;">Insurance coverage is valid.</span>
            {% endif %}
            </p>
        </div>
    </div>
{% endfor %}
{% else %}
<p>We didn't find anything.</p>
{% endif %}

{% endblock %}